
<div class="profile-main">
    <div class="profile-section1">
        <img class="profile-picture" src="{{owner.profileimg}}">
        <h1>{{owner.fullname}}</h1>
        <p>{{owner.username}}</p>
        <span class="buttons">
            <a href="/deleteProfile/{{userID}}"><button class = "del">Delete Account</button></a>
        </span>
    </div>
    
    <div class = "edit-profile">
        <h1>Edit Profile</h1>
        <div class = "edit-form-table">
            <div class="edit-form1">
            <form action="/owner-profile/{{username}}/edit-owner-profile" method="POST">
                Profile Picture <input type="text" name="profileimg" class="edit-input" value="{{ owner.profileimg }}"><br>
                Full Name <input type="text" name="fullname" class="edit-input" value="{{ owner.fullname }}"><br>
                Username <input type="text" name="username" class="edit-input" value="{{ owner.username }}"><br>
                Email <input type="email" name="email" class="edit-input" value="{{ owner.email }}"><br>
                Contact Number <input type="cnum" name="cnum" class="edit-input" value="{{ owner.contactnum }}"><br>
                Password <input type="password" name="password" class="edit-input" value=""><br>
        </div>
            
        </div>
        <br>
        <span class = "sub">
            <input type="submit" id="submit" value="Edit Profile"> </a>
            </form>
    </span>            
    </div>
    
</div>
