<div class="profile-main">
    <div class="profile-section1">
        <img class="profile-picture" src="{{owner.profileimg}}">
        <h1>{{owner.fullname}}</h1>
        <p>{{owner.username}}</p>
        <span class="buttons">
            <a href="/owner-profile/{{username}}/edit-owner-profile"><button>Edit Profile</button></a>
        </span>
    </div>
    
    <div class="profile-section2">
        <h1>Details</h1>
        <div class="dislikes">
            <h2>ADDITIONAL INFORMATION</h2>
            <li>{{owner.email}}</li>
            <li>{{owner.contactnum}}</li>
        </div>
    </div>
</div>

<div class="divide2"></div>

<div class="profile-section4">
    <span class = "resto">
    <h1>Restaurants</h1> <a class="linkz" href="/owner-profile/{{username}}/add-restaurant"><button> + </button></a>
    </span>

        {{#each owner.restaurants}}
        <div class="profile-section4">
            <div class="reviews">
                <img class="restaurant" src="{{this.restoimg}}">
                <span class="review">
                    <span class="head-review"><h2>{{this.rname}}</h2>
                        {{#if restostar}}
                            <script type="text/javascript">
                                for (var i = 0; i < {{restostar}}; i++) {
                                    document.write('<img class="react" src="/common/images/istar.png">');
                                }
                            </script>
                        {{/if}}
                    </span>
                    <p>{{this.restodesc}}</p>
                        <a href="/restaurant/{{this.restoname}}" class="linkz">
                        <button>View</button></a>
                        <a href="/owner-profile/{{this.owneruser}}/edit-restaurant/{{this.restoname}}" class="linkz">
                        <button class="limmerz">Edit</button></a>
                        <a href="/owner-profile/{{this.owneruser}}/delete-restaurant/{{this.restoname}}" class="linkz">
                        <button class="limmerz">Delete</button></a>
                </span> 
            </div>
            </div>
        {{/each}}
</div>
