<div class = "main">
    {{#each restaurant}}
    <div class="restaurant">
        <div class="restaurant-text">
            <div class="text-left">
                <div class="restaurant-name">
                    <strong>{{'resto-name'}}</strong>
                </div>
                <div class="restaurant-type">
                    <i>{{resto-type}}</i>
                </div>
            </div>
            <div class="text-right">
                <div class="details">
                    <p><strong>Located In:</strong> {{location}}</p>
                    <p><strong>Address:</strong> {{address}}</p>
                    <p><strong>Opening Hours:</strong> {{opening-hours}}</p>
                </div>
            </div>
        </div>
        <div class="restaurant-pics">
            <img src="{{resto-img}}" alt="{{resto-name}}">
        </div>
    </div>
    {{/each}}
    <div class="reviews">
        <div class="rev-scroll">
        {{#each reviewsdata}}
        <div class="rev1">
            <div class="profile">
                <div class="profile-picture">
                    <img src="{{user-profileimg}}">
                </div>
                <div class="name">
                    <strong><a href="/user-profile/{{user-username}}" class="linkz">{{user-fullname}}</a></strong>
                    <div class="username">
                        <p>@{{user-username}}</p>
                    </div>
                </div>
            </div>
            <div class="comment">
                <div class="recommendation">
                    {{#if is-recommend}}
                        <strong>Recommended</strong>
                    {{else}}
                        <strong>Not Recommended</strong>
                    {{/if}}
                </div>
                <p>{{review}}</p>                                             
                                <div class="reply" id="reply1">
                        <p>Reply</p>
                    </div>                                             
                    <div class="reply-pop-up" id="reply-pop-up-1">
                        <div class="pop-up-container animate">
                            <textarea name="reply-txtarea" id="reply-txtarea-1" class="text-area" cols="30" rows="10" ></textarea>
                            <div class="reply-button-containers">
                                <button id="cancel-1" class="cancelbtn">Cancel</button>
                                <button id="send-1" class="sendbtn">Send</button>
                            </div>
                        </div>
                    </div>                                             
                </div>
                <div class="replies">
                <div class="profile">
                    <div class="profile-picture">
                        <img src="{{owner-profileimg}}">
                    </div>
                    <div class="name">
                        <strong>{{owner-fullname}}</strong>
                        <div class="username">
                            <p>@{{owner-username}}</p>
                        </div>
                    </div>
                </div> 
                <div class="comment">
                    <p>{{reply}}</p> 
                </div> 
            </div>
            </div>
            {{/each}}
        </div>
    </div>
