{{#if islogin}}
    {{#if isOwner}}
        {{> ownernav}}
    {{else}}
        {{> usernav}}
    {{/if}}

    <div class="profile-main">
        <div class="profile-section1">
            <img class="profile-picture" src="{{user.profileimg}}">
            <h1>{{user.fullname}}</h1>
            <p>{{user.username}}</p>
            <span class="buttons">
                {{#if user.isFriend}}
                    <button>Add Friend</button>
                    <button class="del">Block</button>
                {{else}}
                    <button>Remove Friend</button>
                    <button class="del">Block</button>
                {{/if}}
            </span>
        </div>

        <div class="profile-section2">
            <h1>Details</h1>
            
            <div class="details">
                <h2>OTHER INFORMATION</h2>
                <ul>
                    <li>{{user.email}}</li>
                    <li>{{user.contactnum}}</li>
                </ul>
            </div>
            <div class="likes">
                <h2>LIKES</h2>
                <ul>
                    {{#each user.preferences.isLike}}
                        <li>{{this}}</li>
                    {{/each}}
                </ul>
            </div>

            <div class="dislikes">
                <h2>DISLIKES</h2>
                <ul>
                    {{#each user.preferences.isDislike}}
                        <li>{{this}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>

        <div class="profile-section3">
            <h1>Friends List</h1><br>
            {{#each user.friends}}
                <li>
                    <img class="friend-picture" src="{{this.friendpic}}"> 
                    <a href="/user-profile/{{this.friendusername}}" class="linkz">
                        <button>@{{this.friendusername}}</button>
                    </a>      
                </li>
            {{/each}}
        </div>
    </div>

    <div class="divide2"></div>

    {{#if user.reviews}}
        <div class="profile-section4">
            <h1>Reviews</h1>
        </div>

        {{#each user.reviews}}
            <div class="profile-section4">
                <div class="reviews">
                    <img class="restaurant" src="{{this.restaurantimg}}">
                    <span class="review">
                        <span class="head-review">
                            <h2>{{this.rname}}</h2>
                            {{#if this.showLike}}
                                <img class="react" src="/common/images/like.png">{{this.likes}}
                            {{/if}}
                            {{#if this.showDislike}}
                                <img class="react" src="/common/images/dislike.png">{{this.dislikes}}
                            {{/if}}
                            {{#if this.showReco}}
                                <img class="react" src="/common/images/heart.png">
                            {{/if}}
                        </span>
                        <p>"{{this.reviewText}}"</p>
                        <a href="/restaurant/{{this.restaurant}}" class="linkz"><button>View Review</button></a>
                    </span>
                </div>
            </div>
        {{/each}}
    {{else}}
        <div class="profile-section4">
            <h1>No Reviews Yet</h1>
        </div>
    {{/if}}
{{/if}}
