{{#if islogin}}
    {{#if isOwner}}
        {{> ownernav}}
    {{else}}
        {{> usernav}}
    {{/if}}
{{else}}
    {{> guestnav}}
{{/if}}

<div class = "main">
    {{#each restaurant}}
    <div class="restaurant">
        <div class="restaurant-text">
            <div class="text-left">
                <div class="restaurant-name">
                    <strong>{{'resto-name'}}</strong>
                </div>
                <div class="restaurant-type">
                    <i>{{resto-type}}</i>
                </div>
            </div>
            <div class="text-right">
                <div class="details">
                    <p><strong>Located In:</strong> {{location}}</p>
                    <p><strong>Address:</strong> {{address}}</p>
                    <p><strong>Opening Hours:</strong> {{opening-hours}}</p>
                </div>
            </div>
        </div>
        <div class="restaurant-pics">
            <img src="{{resto-img}}" alt="{{resto-name}}">
        </div>
    </div>
    {{/each}}
    {{#each reviewsdata}}
    <div class="reviews">
        <div class="rev-scroll">
        <div class="rev1">
            <div class="profile">
                <div class="profile-picture">
                    <img src="{{user-profileimg}}">
                </div>
                <div class="name">
                    <strong><a href="/profile/{{user-username}}" class="linkz">{{user-fullname}}</a></strong>
                    <div class="username">
                        <p>@{{user-username}}</p>
                    </div>
                </div>
                <div class="post-ratings-container">
                    <div class="post-rating">
                        <span class="post-rating-button material-icons" title="Mark as helpful">thumb_up</span>
                        <span class="post-rating-count">{{likes}}</span>
                    </div>
                    <div class="post-rating">
                        <span class="post-rating-button material-icons" title="Mark as unhelpful">thumb_down</span>
                        <span class="post-rating-count">{{dislikes}}</span>
                    </div>
                </div>
            </div>
            <div class="comment">
                <div class="recommendation">
                    {{#if is-recommend}}
                        <strong>Recommended</strong>
                    {{else}}
                        <strong>Not Recommended</strong>
                    {{/if}}
                </div>
                <p>{{review}}</p>                                             
            </div>
            <div class="replies">
                <div class="profile">
                    <div class="profile-picture">
                        <img src="{{owner-profileimg}}">
                    </div>
                    <div class="name">
                        <strong>{{owner-fullname}}</strong>
                        <div class="username">
                            <p>@{{owner-username}}</p>
                        </div>
                    </div>
                </div> 
                <div class="comment">
                    <p>{{reply}}</p>
                </div> 
            </div>
        </div>   
        </div>
        {{/each}}
        {{#each restaurant}}
        <div class="leave-review-button">
            <a href="/restaurant/{{resto-name}}/reviews" class="button-link">Leave a Review</a>
        </div>
        {{/each}}
    </div>
</div>