{{#if islogin}}
    {{#if isOwner}}
        {{> ownernav}}
    {{/if}}
    {{> usernav}}
{{#else}}
    {{> guestnav}}
{{/if}}

<div class="searchbar">
    <input type="text" name="listings-search" id="listings-search" placeholder="Search....">
    <i class='bx bx-search'></i>
</div>

<div class="search-results">
    {{#each search-results}}
    <div class="results">
        <div class="resto-img">
            <img src="{{resto-img}}" alt="{{resto-name}}">
        </div>
        <div class="description">
            <div class="name">
                <h1>{{resto-name}}</h1>
            </div>
            <div class="info">
                <p>{{resto-desc}}</p>
            </div>
            {{#each star}}
            <div class="rating">
                {{#if isStar}}
                    <span class="fa fa-star checked"></span>
                {{else}}
                    <span class="fa fa-star"></span>
                {{/if}}
            {{/each}}
            </div>
        </div>
    </div>
    {{/each}} 
</div>

{{!-- 
Search Results :
    {resto-img,
    link,
    resto-name,
    resto-desc,
    star: [{isStar : true},...]}
 --}}